name: .NET Multi-OS Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        dotnet-version: ['8.0']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Restore dependencies
        working-directory: ./FinBank
        run: dotnet restore

      - name: Build
        working-directory: ./FinBank
        run: dotnet build --configuration Release --no-restore

      - name: Run unit tests
        working-directory: ./FinBank
        run: dotnet test ./UnitTests/UnitTests.csproj --no-build --verbosity normal

      - name: Run integration tests
        working-directory: ./FinBank
        run: dotnet test ./IntegrationTests/IntegrationTests.csproj --no-build --verbosity normal
